:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
p {
  font-size: 13px;
}
html,
body {
  font-family: "Overpass", sans-serif;
  height: 100%;
  background-color: var(--very-dark-blue);
  color: var(--white);
}
.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}
.card {
  border-radius: 15px;
  padding: 30px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__icon {
  padding: 10px;
  background-color: var(--very-dark-blue);
  border-radius: 50%;
  width: 15px;
}
.card__title {
  color: var(--white);
  padding: 25px 0 15px 0;
  font-weight: 700;
  font-size: 12px;
}
.desc-text {
  color: var(--light-grey);
  padding-bottom: 25px;
  font-weight: 400;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
.list__item {
  background-color: var(--very-dark-blue);
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  color: var(--light-grey);
  cursor: pointer;
}

.list__item:hover {
  background-color: var(--light-grey);
  color: var(--white);
}

.submit-btn {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 15px;
  background-color: var(--orange);
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.3rem;
  font-weight: 400;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}
/*  */
.footer {
  text-align: center;
}

.thx-wrapper {
  display: flex;
  margin: 0 auto;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}
.thx {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 25px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thx img {
  padding-bottom: 15px;
}
.you-selected {
  background-color: var(--very-dark-blue);
  color: var(--orange);
  padding: 10px;
  border-radius: 15px;
  width: 75%;
}
.thx-title {
  padding: 15px;
  color: var(--white);
}

.thx-desc {
  color: var(--light-grey);
  font-weight: 400;
}

.hidden {
  display: none;
}
.active {
  color: var(--white);
  background-color: var(--orange);
}
